html {
  background-image: url("../images/backgroundDesktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 4px;
}
html body {
  font-size: 4rem;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 48.56%, rgba(0, 0, 0, 0) 100%);
}
html body .wrapper {
  width: 100%;
  max-width: 1090px;
  margin: 114px 50px 0 142px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
.about__logo {
  width: 100%;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
.about__header {
  font-size: 8rem;
  letter-spacing: 0.8rem;
  font-weight: 500;
  padding: 64px 0 26px 0;
}
.about__descr {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
  text-indent: 5%;
  text-align: justify;
}
.about__descr .indent {
  text-indent: 5%;
}

.shop-nav__header {
  font-size: 8rem;
  letter-spacing: 0.8rem;
  font-weight: 500;
  padding-bottom: 26px;
}
.shop-nav__controls {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  width: 100%;
}
.shop-nav__controls button {
  letter-spacing: 0.4rem;
}
.shop-nav__controls button:nth-child(4) {
  order: 5;
}
.shop-nav__controls button:nth-child(5) {
  order: 6;
}
.shop-nav__controls button:nth-of-type(1) {
  width: 113px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(1):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
.shop-nav__controls button:nth-of-type(2) {
  width: 112px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(2):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
.shop-nav__controls button:nth-of-type(3) {
  width: 92px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(3):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
.shop-nav__controls button:nth-of-type(4) {
  width: 115px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(4):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
.shop-nav__controls button:nth-of-type(5) {
  width: 148px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(5):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
.shop-nav__controls button:nth-of-type(6) {
  width: 155px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(6):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.form .form__header {
  width: 100%;
  font-size: 8rem;
  letter-spacing: 0.8rem;
  font-weight: 500;
  padding-bottom: 24px;
}
.form input {
  text-indent: 12px;
  width: 292px;
  height: 48px;
}
.form input:nth-child(4) {
  height: 108px;
  width: 596px;
}
.form .form_submit {
  width: 100%;
  border: 1px solid red;
}
.form input[type=submit] {
  text-indent: 0;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  width: 184px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.form input[type=submit]:hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
@media screen and (min-width: 992px) {
  .form input[type=submit] {
    width: 110px;
    height: 68px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .form input[type=submit]:hover {
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    border: 4px solid #6AECF8;
    color: #131510;
    background-color: #4FB5C0;
  }
}
@media screen and (min-width: 1200px) {
  .form input[type=submit] {
    width: 200px;
    height: 48px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .form input[type=submit]:hover {
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    border: 4px solid #6AECF8;
    color: #131510;
    background-color: #4FB5C0;
  }
}

.person__photo {
  min-width: 638px;
}

/*# sourceMappingURL=index.css.map */
