@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
html {
  font-size: 4px;
}
html body {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 540px;
  font-family: "Roboto";
  font-size: 4rem;
  font-weight: 400;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5019607843);
  background-image: url("../images/backgroundMobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (orientation: landscape) {
  html body {
    margin: 0;
    background-image: url("../images/backgroundTablet.png");
    background-size: cover;
    max-width: 992px;
    text-align: start;
  }
}
@media screen and (min-width: 993px) {
  html body {
    max-width: 100%;
    background-image: url("../images/desktopBackground.png");
    background-size: cover;
  }
}
html body .wrapper {
  z-index: 10;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-top: 48px;
  background: linear-gradient(161.71deg, rgba(0, 0, 0, 0.5) 40.06%, rgba(0, 0, 0, 0) 96.63%);
}
@media (orientation: landscape) {
  html body .wrapper {
    row-gap: 24px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 48.56%, rgba(0, 0, 0, 0) 100%);
  }
}
@media screen and (min-width: 993px) {
  html body .wrapper {
    row-gap: 64px;
    padding-top: 114px;
  }
}
html body .wrapper .container {
  margin: 0 auto;
  width: 100%;
  max-width: 476px;
}
@media (orientation: landscape) {
  html body .wrapper .container {
    margin: 0 0 0 32px;
    max-width: 564px;
  }
}
@media screen and (min-width: 993px) {
  html body .wrapper .container {
    min-width: 1090px;
    margin: 0 0 0 142px;
  }
}
@media screen and (max-width: 500px) {
  html body .wrapper .container {
    max-width: 368px;
  }
}
@media screen and (max-width: 375px) {
  html body .wrapper .container {
    max-width: 315px;
  }
}

.about__logo {
  width: 100%;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
@media (orientation: landscape) {
  .about__logo {
    max-width: 540px;
  }
}
@media screen and (min-width: 993px) {
  .about__logo {
    max-width: 1090px;
  }
}
.about__header {
  font-size: 6rem;
  letter-spacing: 0.6rem;
  font-weight: 500;
  padding: 32.46px 0 12px 0;
}
@media (orientation: landscape) {
  .about__header {
    padding-top: 24px;
  }
}
@media screen and (min-width: 993px) {
  .about__header {
    padding: 64px 0 26px 0;
    font-size: 8rem;
    letter-spacing: 0.8rem;
  }
}
.about__descr {
  font-size: 3.5rem;
  letter-spacing: 0.35rem;
  text-indent: 5%;
  text-align: justify;
}
@media screen and (min-width: 993px) {
  .about__descr {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    text-indent: 2%;
  }
}
.about__descr .indent {
  text-indent: 5%;
}

.shop-nav__header {
  font-size: 6rem;
  letter-spacing: 0.6rem;
  font-weight: 500;
  padding-bottom: 12px;
}
@media screen and (min-width: 993px) {
  .shop-nav__header {
    padding-bottom: 26px;
    font-size: 8rem;
    letter-spacing: 0.8rem;
    font-weight: 500;
  }
}
.shop-nav__controls {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  max-width: 412px;
  margin: 0 auto;
}
@media (orientation: landscape) {
  .shop-nav__controls {
    margin: 0;
    max-width: fit-content;
    justify-content: start;
  }
}
.shop-nav__controls button {
  letter-spacing: 0.4rem;
}
.shop-nav__controls button:nth-of-type(1) {
  width: 106px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(1):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
.shop-nav__controls button:nth-of-type(2) {
  width: 105px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(2):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
.shop-nav__controls button:nth-of-type(3) {
  width: 87px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(3):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
.shop-nav__controls button:nth-of-type(4) {
  width: 108px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(4):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
.shop-nav__controls button:nth-of-type(5) {
  width: 137px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(5):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
.shop-nav__controls button:nth-of-type(6) {
  width: 143px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.shop-nav__controls button:nth-of-type(6):hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
@media screen and (min-width: 993px) {
  .shop-nav__controls button:nth-of-type(1) {
    width: 113px;
    height: 48px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .shop-nav__controls button:nth-of-type(1):hover {
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    border: 4px solid #6AECF8;
    color: #131510;
    background-color: #4FB5C0;
  }
  .shop-nav__controls button:nth-of-type(2) {
    width: 112px;
    height: 48px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .shop-nav__controls button:nth-of-type(2):hover {
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    border: 4px solid #6AECF8;
    color: #131510;
    background-color: #4FB5C0;
  }
  .shop-nav__controls button:nth-of-type(3) {
    width: 92px;
    height: 48px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .shop-nav__controls button:nth-of-type(3):hover {
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    border: 4px solid #6AECF8;
    color: #131510;
    background-color: #4FB5C0;
  }
  .shop-nav__controls button:nth-of-type(4) {
    width: 115px;
    height: 48px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .shop-nav__controls button:nth-of-type(4):hover {
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    border: 4px solid #6AECF8;
    color: #131510;
    background-color: #4FB5C0;
  }
  .shop-nav__controls button:nth-of-type(5) {
    width: 148px;
    height: 48px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .shop-nav__controls button:nth-of-type(5):hover {
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    border: 4px solid #6AECF8;
    color: #131510;
    background-color: #4FB5C0;
  }
  .shop-nav__controls button:nth-of-type(6) {
    width: 155px;
    height: 48px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .shop-nav__controls button:nth-of-type(6):hover {
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    border: 4px solid #6AECF8;
    color: #131510;
    background-color: #4FB5C0;
  }
}
@media (orientation: landscape) {
  .shop-nav__controls button:nth-child(4) {
    order: 5;
  }
  .shop-nav__controls button:nth-child(5) {
    order: 6;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
}
@media screen and (min-width: 993px) {
  .form h2:nth-child(1) {
    font-size: 8rem;
    letter-spacing: 0.8rem;
    font-weight: 500;
  }
}
@media (orientation: landscape) {
  .form {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 12px;
  }
  .form h2:nth-child(1) {
    width: 100%;
  }
}
.form input {
  text-indent: 12px;
  width: 100%;
  height: 40px;
}
@media (orientation: landscape) {
  .form input {
    max-width: 276px;
  }
}
@media screen and (min-width: 993px) {
  .form input {
    max-width: 292px;
  }
}
.form input:nth-child(4) {
  height: 68px;
}
@media (orientation: landscape) {
  .form input:nth-child(4) {
    max-width: 442px;
  }
}
@media screen and (min-width: 993px) {
  .form input:nth-child(4) {
    max-width: 596px;
  }
}
.form .button {
  width: 100%;
}
.form button[type=submit] {
  text-indent: 0;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  width: 184px;
  height: 48px;
  border: 3px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.form button[type=submit]:hover {
  transition: background-color 0.6s, border 0.6s, color 0.6s;
  border: 4px solid #6AECF8;
  color: #131510;
  background-color: #4FB5C0;
}
@media (orientation: landscape) {
  .form button[type=submit] {
    width: 110px;
    height: 68px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .form button[type=submit]:hover {
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    border: 4px solid #6AECF8;
    color: #131510;
    background-color: #4FB5C0;
  }
}
@media screen and (min-width: 993px) {
  .form button[type=submit] {
    width: 200px;
    height: 48px;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
  }
  .form button[type=submit]:hover {
    transition: background-color 0.6s, border 0.6s, color 0.6s;
    border: 4px solid #6AECF8;
    color: #131510;
    background-color: #4FB5C0;
  }
}

.person__photo {
  width: 100%;
  max-width: 390px;
}
@media (orientation: landscape) {
  .person__photo {
    max-width: 356.64px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}
@media screen and (min-width: 993px) {
  .person__photo {
    right: 0;
    max-width: 532px;
  }
}

/*# sourceMappingURL=index.css.map */
