@use './headerMixin' as mix;
.about {
    &__logo {
        width: 100%;
        -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
        filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
        @media screen and (max-width: 1200px) {
            max-width: 540px;
        }
    }
    &__header {
        padding: 64px 0 26px 0;
        @media screen and (max-width: 1200px) {
            padding: 24px 0px 12px 0px;
        }
    }
    &__descr {
        text-indent: 5%;
        text-align: justify;
        @include mix.size(5rem);
        @media screen and (max-width: 1200px) {
            @include mix.size(3.5rem);
        }
    }
}

