@use './fonts';
@use './headerMixin' as headerSize;

// базовые настройки контейнера

html {
    font-family: 'Roboto';
    font-size: 4px;
    body {
        font-size: 4rem;
        font-weight: 400;
        color: #FFFFFF;
        .background-iamge {
            background-image: url('../images/backgroundDesktop.png');
            background-size: cover;
            @media screen and (max-width:1500px) {
                background-image: url('../images/backgroundTablet.png');
            }
            @media screen and (max-width: 881px) {
                background-image: url('../images/backgroundMobile.png');
            }
            .bg-color {
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 48.56%, rgba(0, 0, 0, 0) 100%);
                @media screen  and (max-width: 1200px){
                    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 48.56%, rgba(0, 0, 0, 0) 100%);
                }
                .flex-container {
                    width: 100%;
                    max-width: 1725px;
                    min-height: 100vh;
                    padding: 114px 0 0 142px;
                    display: flex;
                    column-gap: 103px; // расстояние между двумя блоками
                    @media screen and (max-width: 1200px) {
                        column-gap: 24px;
                        padding: 48px 7.36px 0 32px;
                    }
                    @media screen and (max-width: 881px) {
                        flex-direction: column;
                        row-gap: 32px;
                        align-items: center;
                        padding: 48px 32px 0 32px;
                        text-align: center;
                    }
                    .block1 {
                        display: flex;
                        flex-direction: column;
                        row-gap: 64px;
                        max-width: 1090px;
                        @media screen and (max-width: 1200px) {
                            max-width: 564px;
                            row-gap: 24px;
                        }
                        @media screen and (max-width: 881px) {
                            max-width: 506px;
                            padding: 0 15px 0 15px; // паддинг безопасности
                        }
                    }      
                    .block2 {
                        align-self: flex-end;
                        max-height: 100vh;
                        
                        max-width: 532px;
                    }
                }
            }
        }
    }
}

// header block

.header {
    @include headerSize.size(8rem);
    @media screen and (max-width: 1200px) {
        @include headerSize.size(6rem)
    }
}

  
