@use './fonts';

html {
    background-image: url('../images/backgroundMobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 4px;
    body {
        background: linear-gradient(161.71deg, rgba(0, 0, 0, 0.5) 40.06%, rgba(0, 0, 0, 0) 96.63%);
        display: flex;
        flex-direction: column;
        row-gap: 32px; // picture and block control
        font-size: 4rem;
        text-align: center;
        font-weight: 400;
        .wrapper {
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            row-gap: 32px;
            .container{
                margin: 0 auto;
                max-width: 476px;
            }
        }
    }
}



  
