@use './buttonMixin' as but;
@use './headerMixin' as mix;
.form {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .form__header{
        width: 100%;
        @include mix.size(8rem);
        padding-bottom: 24px;
    }   
    input {
        text-indent: 12px;
        width: 292px;
        height: 48px;
    }
    input:nth-child(4) {
        height: 108px;
        width: 596px;
    }
    .form_submit {
        width: 100%;
        border: 1px solid red;
    }
    input[type='submit'] {
        text-indent: 0;
        font-size: 4rem;
        letter-spacing: 0.4rem;
        @include but.button(184px,48px);
        @media screen and (min-width:992px) {
            @include but.button(110px,68px);
        }
        @media screen and (min-width:1200px) {
            @include but.button(200px,48px);
        }
    }
}