@use './buttonMixin' as but;
@use './headerMixin' as mix;
.form {
    &__header {
        padding-bottom: 24px;
        @media screen and (max-width: 1200px) {
            padding-bottom: 12px;
        }
    }
    &__inputs {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        padding-bottom: 12px;
        input {
            text-indent: 12px;
            width: 292px;
            height: 48px;
            @media screen and (max-width: 1200px) {
                width: 276px;
                height: 40px;
            }
        }
        input:nth-child(3) {
            height: 108px;
            width: 596px;
            @media screen and (max-width: 1200px) {
                width: 442px;
                height: 68px;
            }
        }
        .form_submit {
            width: 100%;
            @media screen and (max-width: 1200px) {
                width: fit-content;
            }
        }

        button[type='submit'] {
            text-indent: 0;
            font-size: 4rem;
            letter-spacing: 0.4rem;
            @include but.button(184px,48px);
            @media screen and (max-width: 1200px) {
                @include but.button(110px,68px);
                font-size: 16px;
            }
        }
    }
    
}