.person {
    &__photo {
        width: 100%;
        max-width: 390px;
        @media (orientation: landscape) {
            max-width: 356.64px;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
         @media screen and (min-width: 993px) {
            right: 0;
            max-width: 532px;
        } 
    }
}