.person {
    &__photo {
        width: 100%;
        max-width: 390px;
        @media (orientation: landscape) {
            max-width: 356.64px;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}