@use './buttonMixin' as mixin;
@use './headerMixin' as mix;
@use 'sass:list';
$widths: (106px, 105px, 87px, 108px, 137px, 143px);
$widths2: (113px,112px,92px,115px,148px,155px);
.shop-nav {
    &__header {
        @include mix.size(8rem);
        padding-bottom: 26px;
    }
    &__controls {
        display: flex;
        flex-wrap: wrap;
        column-gap: 12px;
        width: 100%;
        button {
            letter-spacing: 0.4rem;
            &:nth-child(4){
                order: 5;
            }
            &:nth-child(5){
                order: 6;           
            }
            @for $i from 1 through list.length($widths2) {
                &:nth-of-type(#{$i}) {
                    @include mixin.button(list.nth($widths2, $i), 48px);
                }
            }
        }
    }
}